name: Build Firmware

on:
  push:
    paths:
      - 'chimera_red/firmware/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Enterprise Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install PlatformIO
        run: |
          python -m pip install --upgrade pip
          pip install platformio

      - name: Run PlatformIO
        run: |
          cd chimera_red/firmware
          pio run

      - name: Upload Firmware Artifact
        uses: actions/upload-artifact@v4
        with:
          name: chimera_red_firmware_v0.1
          path: chimera_red/firmware/.pio/build/esp32-s3-devkitc-1/firmware.bin
